/* Color Variables */

:root {
--color-primary:#2289ff;
--color-secondary:#193f6a !important;
--color-acent:#193f6a;
--font-poppins: "Poppins", serif;
}

/* Custom Classes */

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

button, 
button:active, 
button:focus {
    outline: none !important;
}


.btn-theme {
    box-shadow: none;
    margin: 0px;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 30px 0px 30px 30px;
    transition: 0.5s ease;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}

.btn-theme-2 {
    box-shadow: 0px 10px 20px 0px rgb(34 137 255/52%);
    margin: 0px;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}

.btn-play {
    box-shadow: none;
    margin: 0px;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    transition: 0.5s ease;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}

.container .h6 {
    font-size: 15px;
}

p {
    font-size: 11px;
}

/* ! Header */

header.header {
    width: 100%;
}

.header nav {
    box-shadow: none;
}

.navbar {
    margin: 0px;
    padding-top: 10px;
}

.navbar-brand {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.nav-item {
    margin: auto 5px;
}

.nav-link {
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.5s ease;
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-primary);
}

.dropdown {
    position: relative;
    overflow: visible;
}

.call-back {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 210px;
    padding: 20px;
    display: none;
    transition: 1s ease;
    border-radius: 10px;
    border: 1px solid  var(--color-primary);
    background-color: #fff;
}

.active {
    display: block;
    z-index: 1002;
}

.call-back input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid  var(--color-primary);
    font-family: var(--font-poppins);
    font-size: 15px;
}

.call-back .btn-theme{
    margin-top: 15px;
    width: 100%;
    border-radius: 30px;
    padding: 8px;
    font-size: 10px;
    font-family: var(--font-poppins);
    font-size: 17px;
}

#btn-help {
    font-size: 17px;
    box-shadow: none;
}

/* ! Banner */

.banner {
    width: 100%;
    padding: 20px 0px;
    color: var(--color-secondary);
    font-family: var(--font-poppins);
}

.banner p {
    font-weight: 400;
}

.image {
    border-radius: 80px 80px 0px 80px;
    overflow: hidden;
}

.image img {
    width: 445px;
    height: 445px;
}

/* ! Search */

.search-area {
    border-radius: 80px;
    padding: 15px 50px;
    font-family: var(--font-poppins);
}

.select {
    padding: 5px 5px 5px 10px;
    border: none;
    outline: none;
    width: 80%;
    margin-bottom: 3px;
    font-weight: 500;
    cursor: default;
    font-size: 11px;
}

.search-area select {
    padding: 5px;
    border: none;
    outline: none;
    width: 80%;
    margin-bottom: 3px;
}

.search-area input {
    border: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
}

.search-area input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-secondary);
}

.search-area button.btn-theme {
    border-radius: 30px;
    padding: 12px 40px;
}

.form-control{
    font-size: 1px;
}

.people {
    padding: 3px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    font-family: var(--font-poppins);
    cursor: pointer;
}

/* ! About Us */

.about-section {
    width: 100%;
    padding: 120px 0px;
    background-color: #eeeeee;
    font-family: var(--font-poppins);
}

.about-section h1 {
    color: var(--color-secondary);
}

.about-section .image {
    border-radius: 80px 0px 80px 80px;
    overflow: hidden;
    width: 400px;
    margin: 0px auto;
}

.about-section .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ! Services */

.secvice-section {
    padding: 100px 0px;
    font-family: var(--font-poppins);
}

.service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px;
    margin: 10px;
}

.service-show i.fas {
    padding: 20px;
    width: 62px;
    background-color: #eeeeee;
    color: var(--color-primary);
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.service-show p {
font-size: 13px;
font-weight: 400;
}

/* ! Tour */

.tour-section {
    width: 100%;
    padding: 50px 0px;
    background-color: #eeeeee;
    font-family: var(--font-poppins);
    color: var(--color-secondary);
}

.tour-section .text-left {
    display: flex;
}

.tour-section .text-left img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

.text-right a{
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 500;
    transition: 1s ease;
}

.text-right a:hover{
    color: var(--color-primary);
}

.slider-tours {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.tours-list .image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tours-list p {
    font-weight: 500;
}

.tours-list .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 0px 30px 0px 30px;
    margin-bottom: 10px;
}

.tours-list {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0px 30px 0px 30px;
    color: #000000;
}

/* ! Work */

.work-section {
    width: 100%;
    padding: 100px 0px;
    background-color: #ffffff;
    text-align: center;
    font-family: var(--font-poppins);
}

.work-section h1 {
    color: var(--color-secondary);
}

.work-section p {
    font-weight: 400;
}

.work-section .service-show {
    cursor: pointer;
    transition: 1s ease;
}

.work-section .service-show:hover {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
}

/* ! Popular Tour */

.popular-tour-section {
    width: 100%;
    text-align: center;
    color: var(--color-secondary);
    font-family: var(--font-poppins);
}

.popular-tour-section .text-left {
    float: none;
}

.popular-tour-section .btn-theme {
    border-radius: 30px;
}

/* ! Testimonials */

.testimonials-section {
    width: 100%;
    padding: 100px 0px;
    text-align: center;
    font-family: var(--font-poppins);
}

.testimonial-list .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-list .image {
    border-radius: 100% 100% 0% 100%;
    overflow: hidden;
    height: 330px;
}

.testimonial-list i.fas {
    color: var(--color-primary);
    opacity: 0.1;
}

/* ! Mail */

.mail-section {
    width: 100%;
    padding: 100px 0px;
    text-align: center;
    font-family: var(--font-poppins);
}

.mail-section .form {
    padding: 10px 20px;
    border-radius: 30px;
    float: none;
}

.mail-section .form input {
    padding: 15px 0px;
    border: none;
}

.mail-section .form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.mail-section .btn-theme {
    padding: 12px 40px;
    border-radius: 30px;
}

/* ! Footer */

.footer {
    width: 100%;
    padding: 50px 0px;
    background-color: var(--color-primary);
    font-family: var(--font-poppins);
    color: #ffffff;
    border-radius: 100px 0px 0px 0px;
}

.footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer a {
    color: #ffffff;
    font-size: 13px;
    transition: 0.5s ease;
}

.footer a:hover{
    color: #ffffff;
    opacity: 0.7;
}

/* ! Modal */

.modal {
    width: 100%;
    padding-right: 0;
    background-color: rgba(2, 2, 2, 0.4);
}

.modal-dialog {
    left: 50% !important;
    top: 40% !important;
    transform: translate(-40%, -50%) !important;
    width: 350px;
    height: 350px;
    position: absolute;
    border-radius: 35px;
    overflow: hidden;
    border: 1px solid var(--color-primary);
}

.modal-content {
    border-radius: 0;
    border: none;
    width: 350px;
    height: 350px;
}

.modal-body {
    background-color: #fff;
    color: black;
    width: 350px;
    height: 350px;
}

.order .row {
    font-size: 14px;
    margin-top: 10px;
}

.order input {
    width: 100%;
    height: 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--color-primary);
    font-family: var(--font-poppins);
    font-size: 15px;
}

.order h1 {
    padding-bottom: 10px;
}

.order h3 {
    font-size: 14px;
}

.wrap button {
    margin-top: 10px;
    font-size: 14px;
}

.order .right {
    margin-left: 10px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #fff;
    color: black;
    box-shadow: none;
    border: 1px solid var(--color-primary);
}
